@model Project_Intern.Models.account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}

<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form>
            @Html.AntiForgeryToken()
            <h1>Sign in</h1>
            <span>or use your account</span>
            @Html.TextBoxFor(m => m.email, "", new { @type = "text", @name = "email", @placeholder = "Email", @required = "" })<br />
            @Html.PasswordFor(m => m.password, new { @type = "password", @name = "password", @placeholder = "Password", @required = "" })<br />
            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
            <button class="ghost" id="signUp">
                <a href="@Url.Action("Forgot","Login")">Forgot password ?</a>
            </button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">
                    <a href="@Url.Action("Register","Login")">Sign Up</a>
                </button>
            </div>
        </div>
    </div>
</div>
