@using Project_Intern.Models
@model PagedList.IPagedList<Project_Intern.Models.products>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->

<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @foreach (categories cateid in ViewBag.Category)
                        {            
                            <li data-filter="@cateid.products">@cateid.category_name</li>
                        }                   
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            @foreach (products q in Model)
            {
                <div class="col-lg-4 col-md-6 text-center @q.category_id">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="@Url.Action("Product","Shop")"><img src="@q.product_img" alt=""></a>
                        </div>
                        <h3>@q.product_name</h3>
                        <p class="product-price"><span>Per Kg</span> @q.list_price$ </p>
                        <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }

        </div>
        <br />
       
        <div class="row">
            <div class="col-lg-12 text-center">     
                <div class="pagination-wrap align-items-center ">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount               
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="/assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
